@font-face {
  font-family: Comfortaa;
  src: url('./styles/fonts/Comfortaa-Medium.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Comfortaa;
  background-color: black;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: lightblue;
  }
}

body {
  overflow-x: hidden;
}
